h1 St Example's 10am Gathering

h2 Next gathering: December 7, 2014

== cell(:team_sheet).call

p Those on the team sheet will be contacted via SMS to confirm their availability 72 hours before the gathering takes place.
