$main-color: #C4121F;
$lighter-main: #F6606B;
$light-main: #E13542;
$dark-main: #A0030E;
$darker-main:790009;

$alternative-color: #C96013;
$lighter-alternative: #FDA463;
$light-alternative: #E78136;
$dark-alternative: #A54703;
$darker-alternative: #7C3500;
